# Ignore raw data files but keep the folder placeholder
# Ignore raw data files but keep the folder placeholder
data/raw/*
!data/raw/.gitkeep

# Common large file types to ignore

*.xlsx
*.zip
*.tar
*.gz
.DS_Store

